
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }

  .header h1 {
    font-size: 50px;
  }
  /* Style the top navigation bar */
  .topnav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #333;
  }

  /* Style the topnav links */
  .topnav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    padding:1em;
    text-align: center;
  }

  /* Change color on hover */
  .topnav a:hover {
    color: #f1f1f1;
  }
  .Example
  {
    margin:30px 60px;
  }
  .container
  {
    padding:10px;
    border-radius:30px;
    background-color:rgb(224,224,224);
    font-size:15px;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 20%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 80%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 70%;
    padding:5px;
  }
  .fakeimg img
  {
    height:290px;
    width:600px;
  }
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 40px;
    margin-top: 20px;
  }
  .card p,ul,ol
  {
    margin:30px 60px;
  }
  .card li
  {
    margin-bottom:10px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
